@use "../base/variables" as *;
@use "../base/mixins" as *;

.access {
  @include section-container(140px, 220px);
  background-color: $secondarycolor;
  position: relative;

  &__element {
    display: flex;
    position: absolute;
    justify-content: flex-start;
    z-index: 0;
    left: -120px;
    top: -10px;
    width: 680px;

    height: 691px;

    img {
      object-fit: cover;
      transform: rotate(250deg);
      width: 680px;
      height: auto;
    }
  }

  &__headline {
    @include section-headline(60px, false);
    text-align: center;
  }

  &__block {
    width: 1064px;
    &-text {
      font-size: $ParagraphP2RegularFonteSize;
      color: white;
      margin-top: 24px;
    }

    &-title {
      color: white;
      font-weight: 700;
      font-size: $H1FontSize;
      letter-spacing: -1.44px;

      .access__block-highlight {
        display: inline-block;
        position: relative;
        z-index: 1;

        .access__highlight-img {
          position: absolute;
          display: block;
          width: 90%;
          height: auto;
          margin-top: -20px;
          z-index: -1;
        }
      }
    }
  }
  &__btn-container {
    margin-top: 60px;
    padding: 20px 40px 20px 40px;
  }
}

@include media-down(xl) {
  .access {
    padding: 140px 32px;
    &__headline {
      width: 1376px;
      justify-content: center;
    }
  }
}

@include media-down(mlg) {
  .access {
    padding: 140px 32px 140px 32px;
    &__headline {
      justify-content: center;
      width: 1125px;
    }

    &__img-container {
      width: 600px;
      height: 400px;
    }
  }
}

@include media-down(lg) {
  .access {
    padding: 140px 32px 140px 32px;

    &__headline {
      text-align: left;
      display: block;
    }
    &__block {
      width: 620px;
      &-title {
        font-size: $H2FontSize;
      }
    }

    &__img-container {
      width: 528px;
      height: 427px;
    }
    &__element {
      display: none;
    }
    &__btn-container {
      padding: 0;
    }
  }
}

@include media-down(mdlg) {
  .access {
    padding: 140px 32px 140px 32px;
    position: relative;
    overflow: hidden;

    &__headline {
      text-align: left;
      display: block;
    }

    &__block {
      width: 620px;
      &-title {
        font-size: $H2FontSize;
      }
    }

    &__img-container {
      width: 528px;
      height: 427px;
    }

    &__element {
      display: flex;
      position: absolute;
      left: -300px;
      top: -100px;
      width: 700px;
      height: 680px;
      z-index: 0;
      transform: rotate(50deg);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__btn-container {
      padding: 0;
    }
  }
}

@include media-down(md) {
  .access {
    padding: 100px 16px 80px 16px;

    &__headline {
      gap: 40px;
    }

    &__block {
      width: 100%;
      max-width: 600px;

      &-title {
        font-size: $H3FontSize;
      }
    }
    &__element {
      display: none;
    }

    &__img-container {
      max-width: 480px;
      height: 320px;
    }
  }
}
@include media-down(sm) {
  .access {
    &__block {
      &-title {
        font-size: 36px;
        line-height: $H4LineHeight;
      }

      .access__block-highlight {
        display: inline-block;
        position: relative;
        z-index: 1;

        .access__highlight-img {
          position: absolute;
          display: block;
          width: 200%;
          height: auto;
          margin-top: -10px;
          z-index: -1;
        }
      }
    }
    button {
      width: 193px;
    }
  }
}
