@use "../base/variables" as *;
@use "../base/mixins" as *;

.data {
  @include section-container(140px, 220px);
  background-color: white;

  &__headline {
    @include section-headline(0px, false);
  }

  &__block {
    width: 800px;

    &-text {
      font-size: $ParagraphP2RegularFonteSize;
      color: $secondarytextcolor;
      margin-top: 24px;
    }

    &-title {
      color: $secondarytextcolor;
      font-weight: 700;
      font-size: $H1FontSize;
      line-height: 100px;

      .data__block-highlight {
        display: inline-block;
        position: relative;
        z-index: 1;

        .data__highlight-img {
          position: absolute;
          display: block;
          width: 90%;
          height: auto;
          margin-top: -30px;
          z-index: -1;
        }
      }
    }
  }

  &__btn-container {
    margin-top: 60px;
  }

  &__img-container {
    img {
      width: 681px;
    }
  }
}
@include media-down(xxl) {
  // 1690px
  .data {
    padding: 140px 32px 140px 32px;
  }
}
@include media-down(xl) {
  .data {
    padding: 140px 32px 140px 32px;
    &__content {
      width: 1336px;
    }
    &__block {
      width: 651px;
    }

    &__img-container {
      width: 686px;
      height: 479px;
    }
  }
}
@include media-down(mlg) {
  .data {
    padding: 100px 32px 100px 32px;
    &__content {
      width: 1150px;
    }
    &__block {
      width: 560px;
    }

    &__img-container {
      width: 562px;
      img {
        max-width: 562px;
        height: 479px;
      }
    }
  }
}

@include media-down(lg) {
  .data {
    padding: 100px 32px 100px 32px;
    &__content {
      width: 1088px;
    }
    &__block {
      width: 620px;
      &-title {
        font-size: $H2FontSize;
      }
    }

    &__img-container {
      width: 686px;
      height: 479px;
    }
  }
}
@include media-down(mdlg) {
  .data {
    padding: 100px 32px 100px 32px;
    &__content {
      width: 100%;
      max-width: 768px;
    }
    &__headline {
      gap: 50px;
      flex-direction: column-reverse;
    }
    &__block {
      width: 100%;
      max-width: 768px;
      text-align: center;
      &-title {
        font-size: $H2FontSize;
        max-width: 768px;
        width: 100%;
      }
    }

    &__img-container {
      width: 513px;
      height: 287px;
      img {
        width: 513px;
        height: 287px;
      }
    }
  }
}

@include media-down(md) {
  .data {
    padding: 100px 16px 80px 16px;

    &__headline {
      gap: 40px;
      flex-direction: column-reverse;
    }

    &__block {
      width: 100%;
      max-width: 600px;

      &-title {
        font-size: $H3FontSize;
      }
    }

    &__img-container {
      max-width: 480px;
      height: 320px;
      img {
        width: 480px;
      }
    }
  }
}
@include media-down(smmd) {
  .data {
    padding: 80px 14px 60px 14px;

    &__headline {
      gap: 100px;
    }

    &__block {
      max-width: 100%;
      &-title {
        font-size: $H3FontSize;
      }
    }

    &__img-container {
      max-width: 286px;
      height: 191px;
      img {
        width: 286px;
      }
    }
  }
}
@include media-down(sm) {
  .data {
    &__block {
      &-title {
        font-size: 36px;
        line-height: $H4LineHeight;
      }
      .data__block-highlight {
        display: inline-block;
        position: relative;
        z-index: 1;

        .data__highlight-img {
          position: absolute;
          display: block;
          width: 100%;
          height: auto;
          margin-top: -10px;
          z-index: -1;
        }
      }
    }
    button {
      width: 193px;
    }
  }
}
