@use "../base/variables" as *;
@use "../base/mixins" as *;

.extension {
  @include section-container(140px, 220px);
  background-color: $secondarycolor;

  &__content {
    margin: 0 auto;
  }

  &__headline {
    @include section-headline(100px, false);
  }

  &__block {
    width: 697px;

    &-title {
      font-size: $H1FontSize;
      color: white;
      font-weight: 700;
      line-height: 100%;

      .extension__block-highlight {
        display: inline-block;
        position: relative;
        z-index: 1;

        .extension__highlight-img {
          position: absolute;
          display: block;
          width: 100%;
          height: auto;
          margin-top: -25px;
          z-index: -1;
        }
      }
    }

    &-text {
      font-size: $ParagraphP2RegularFonteSize;
      color: white;
      margin-top: 24px;
    }

    &-btn-container {
      margin-top: 60px;
    }
  }

  &__img-container {
    width: 686px;
    height: 504px;
    background-color: #c4defd;
  }
}

@include media-down(xl) {
  .extension {
    padding: 140px 32px 140px 32px;
    &__content {
      width: 1336px;
    }
    &__block {
      width: 651px;
    }

    &__img-container {
      width: 686px;
      height: 479px;
    }
  }
}
@include media-down(mlg) {
  .extension {
    padding: 140px 32px 140px 32px;
    &__content {
      width: 1125px;
    }
    &__block {
      width: 528px;
      &-title {
        font-size: $H2FontSize;
        width: 528px;
      }
    }

    &__img-container {
      max-width: 526px;
      height: 350px;
    }
  }
}

@include media-down(lg) {
  .extension {
    padding: 140px 32px 140px 32px;
    &__content {
      max-width: 1088px;
      width: 100%;
    }
    &__headline {
      gap: 100px;
    }
    &__block {
      width: 100%;
      max-width: 470px;

      &-title {
        font-size: $H2FontSize;
      }
    }

    &__img-container {
      max-width: 534px;
      height: 350px;
    }
  }
}
@include media-down(mdlg) {
  .extension {
    padding: 100px 32px 100px 32px;
    &__content {
      width: 100%;
      max-width: 768px;
    }
    &__headline {
      gap: 50px;
      flex-direction: column;
    }
    &__block {
      width: 100%;
      max-width: 768px;
      text-align: center;
      &-title {
        font-size: $H2FontSize;
        max-width: 768px;
        width: 100%;
      }
    }

    &__img-container {
      width: 513px;
      height: 287px;
      img {
        width: 513px;
        height: 287px;
      }
    }
  }
}

@include media-down(md) {
  .extension {
    padding: 100px 16px 80px 16px;

    &__headline {
      gap: 40px;
      flex-direction: column;
    }

    &__block {
      width: 100%;
      max-width: 600px;

      &-title {
        font-size: $H3FontSize;
      }
    }

    &__img-container {
      max-width: 480px;
      height: 320px;
    }
  }
}
@include media-down(smmd) {
  .extension {
    padding: 80px 14px 60px 14px;

    &__headline {
      gap: 32px;
      flex-direction: column;
    }

    &__block {
      max-width: 100%;
      &-title {
        font-size: $H3FontSize;
      }
    }

    &__img-container {
      max-width: 286px;
      height: 191px;
    }
  }
}

@include media-down(sm) {
  .extension {
    &__block {
      &-title {
        font-size: 36px;
        line-height: $H4LineHeight;
      }
      .extension__block-highlight {
        display: inline-block;
        position: relative;
        z-index: 1;

        .extension__highlight-img {
          position: absolute;
          display: block;
          width: 100%;
          height: auto;
          margin-top: -10px;
          z-index: -1;
        }
      }
    }
    button {
      width: 170px;
    }
  }
}
