@use "../base/variables" as *;
@use "../base/mixins" as *;

.sponsors {
  padding: 140px 220px 140px 220px;
  text-align: center;

  &__title {
    font-weight: 700;
    font-size: $H1FontSize;
    color: $secondarytextcolor;
    .sponsors__highlight {
      display: inline-block;
      position: relative;
      z-index: 1;

      .sponsors__highlight-img {
        position: absolute;
        display: block;
        width: 150%;
        height: auto;
        margin-top: -70px;
        z-index: -1;
      }
    }
  }
  &__container {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
  }
}

@include media-down(xl) {
  .sponsors {
    padding: 140px 32px 140px 32px;
  }
}

@include media-down(mdlg) {
  .sponsors {
    padding: 100px 32px 100px 32px;

    &__container {
      flex-direction: column;
      align-items: center;
      gap: 150px;

      img {
        width: auto;
        max-width: 100%;
        height: auto;
      }
    }
    .sponsors__highlight {
      display: inline-block;
      position: relative;
      z-index: 1;

      .sponsors__highlight-img {
        position: absolute;
        display: block;
        width: 120%;
        height: auto;
        margin-top: -70px;
        z-index: -1;
      }
    }
  }
}
@include media-down(md) {
  .sponsors {
    padding: 100px 16px 80px 16px;

    &__title {
      font-size: $H3FontSize;
      .sponsors__highlight {
        display: inline-block;
        position: relative;
        z-index: 1;

        .sponsors__highlight-img {
          position: absolute;
          display: block;
          width: 120%;
          height: auto;
          margin-top: -50px;
          z-index: -1;
        }
      }

      &__img-container {
        max-width: 480px;
        height: 320px;
      }
    }
  }
}
@include media-down(smmd) {
  .sponsors {
    padding: 100px 16px 80px 16px;

    &__title {
      font-size: $H3FontSize;
      .sponsors__highlight {
        display: inline-block;
        position: relative;
        z-index: 1;

        .sponsors__highlight-img {
          position: absolute;
          display: block;
          width: 100%;
          height: auto;
          margin-top: -20px;
          z-index: -1;
        }
      }
    }
  }
}
@include media-down(sm) {
  .sponsors {
    &__title {
      font-size: 36px;
      line-height: $H4LineHeight;
      .sponsors__highlight {
        display: inline-block;
        position: relative;
        z-index: 1;

        .sponsors__highlight-img {
          position: absolute;
          display: block;
          width: 120%;
          height: auto;
          margin-top: -10px;
          z-index: -1;
        }
      }
    }
    &__container {
      img:nth-child(1) {
        width: 55px;
      }
      img:nth-child(2) {
        width: 213px;
      }
      img:nth-child(3) {
        width: 192px;
      }
      img:nth-child(4) {
        width: 139px;
      }
    }

    button {
      width: 232px;
    }
  }
}
